@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */
body{
  background:
    url("/images/pat2.svg"),
    url("/images/background-mobile.png"),
    url("/images/pattern-circle.svg");

  background-size:
    70%,
    cover,
    1000%;

  background-position:
    50% 0%,
    20% 0,
    0 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  